<% include ../partials/header %>

<div class="container">
    <div class="row">

        <div class="col-md-6">
            <% if (message.length > 0) { %>
                <div class="alert alert-success alert-dismissible" id="alert" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <%= message %>
                </div>
            <% } %>

            <% for(let i = 0; i < foundCart.items.length; i++) { %>
                <div class="list-group">
                    <span class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">
                                <span>
                                    <img
                                        src="<%= foundCart.items[i].item.image %>" 
                                        alt="Image" 
                                        class="product-image">
                                </span>
                            </div>
                            <div class="col-md-6">
                                <p class="list-group-item-heading"><%= foundCart.items[i].item.name %></p>
                            </div>
                            <div class="col-md-3">
                                <p>Quantity: <%= foundCart.items[i].quantity %></p>
                                <p>Rs.<%= foundCart.items[i].price %></p>

                                <form action="/remove" method="POST">
                                    <input type="hidden" name="item" value="<%= foundCart.items[i]._id %>">
                                    <input type="hidden" name="price" value="<%= foundCart.items[i].price %>">
                                    <button type="submit" class="btn btn-danger">Remove</button>
                                </form>

                            </div>
                        </div>
                    </span>
                </div>
            <% } %>
        </div>

        <div class="col-md-3"></div>

        <div class="col-md-3">
            <div class="list-group">
                <span class="list-group-item">
                    <h4>Total: Rs. <span class="totalPrice"><%= foundCart.total %></span></h4>
                    <div class="form-group">
                        <input type="hidden" value="<%= foundCart.total %>">
                        <button 
                            type="submit" 
                            class="btn btn-primary btn-md btn-block" 
                            data-toggle="modal" 
                            data-target="#myModal">Pay with Stripe</button>
                    </div>
                </span>
            </div>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<% include ../partials/footer %>